@model Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    @Html.DisplayFor(m => m)
</div>
<hr />
<h3>Action</h3>
@Html.Action("Index", "Orders", new {ClientId = Model.ClientId})
<hr/>
<h3>Partial</h3>
@Html.Partial("../Orders/Index", Model.Order.ToList())
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
